.sqr {
  width: 100px;
  height: 100px;
  margin: 2px;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  color: white;
  background: #ffffff0f;
  font-family: inherit;
  font-size: 58px;
  outline: none;
  cursor: pointer;
}
