.sqr {
  width: 100px;
  height: 100px;
  margin: 2px;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  background: transparent;
  font-size: 58px;
  outline: none;
  cursor: pointer;
}
